<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="col-sm-3">
                    <table class="table">
                        <caption>Tax list</caption>
                        <thead>
                            <tr>
                                <th scope="col">Doc Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tax : ${taxes}">
                                <td th:text="${tax.docName}">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
</body>
</html>